<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{
  font-family: Calibri, Helvetica, sans-serif;
  background-color: pink;
}
.container {
    padding: 50px;
  background-color: #9FC4FD;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: orange;
  outline: none;
}
 div {
            padding: 10px 0;
         }
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
</style>
</head>
<body>
<form action="/update/{{b.id}}" method="post">

        <h1>Student registration form </h1>

        <fieldset>

         <p style="color:red"> {{alert}}</p>
         <p style="color:red"> {{error}}</p>
 Roll No. <input type="text" id="name" name="name" value="{{b.id}}" readonly>
          Name <input type="text" id="name" name="name" value={{b.name}}>
         Father Name <input type="text" id="name" name="fname" value={{b.fname}}>
         Date of Birth<input type="text" id="name" name="dob" placeholder="DD/MM/YYYY" value={{b.dob}}>
         {% if 'male' == b.gender %}
            Gender <br><input type="radio" id="name" name="gender" value="male" checked>Male<br>
             <input type="radio" id="name" name="gender" value="female" >Femail
            {% endif %}
         {% if 'female' == b.gender %}
            Gender <br><input type="radio" id="name" name="gender" value="male" >Male<br>
             <input type="radio" id="name" name="gender" value="female" checked >Femail
            {% endif %}
        <br>
         {% if 'maths' == b.streem %}
             Streem
        <select name="streem" value={{b.streem}}>

          <option value="maths" checked>Maths</option>
          <option value="commers" >Commers</option>
          <option value="arts">Arts</option>
          <option value="bio">Bio</option>
        </select>
         {% endif %}
         {% if 'Commers' == b.streem %}
             Streem
        <select name="streem" value={{b.streem}}>


          <option value="commers" checked="true">Commers</option>
          <option value="arts">Arts</option>
          <option value="bio">Bio</option>
         <option value="maths">Maths</option>
        </select>
         {% endif %}
        {% if 'arts' == b.streem %}
             Streem
        <select name="streem" value={{b.streem}}>



          <option value="arts" checked>Arts</option>
          <option value="bio">Bio</option>
         <option value="maths">Maths</option>
         <option value="commers">Commers</option>
        </select>
         {% endif %}
        {% if 'bio' == b.streem %}
             Streem
        <select name="streem" value={{b.streem}}>




          <option value="bio" checked>Bio</option>
         <option value="maths">Maths</option>
         <option value="commers" >Commers</option>
         <option value="arts" >Arts</option>
        </select>
         {% endif %}



         <br> <br>

         Address  <input type="text" id="mail" name="address" value={{b.address}}>
       Class <input type="text"  name="classs" value={{b.classs}}>
       School<input type="text" name="school" value={{b.school}}>
        <input type="text"  name="mobile" value="{{b.mobile}}"" readonly>
         Email<input type="text" name="email" value="{{b.email}}"" readonly>

    </fieldset>


        <button type="submit">Submit edit form</button>
        <a href="/student_list"><button type="button">Student list</button></a>

    </form>
</body>
</html>