<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body{
  font-family: Calibri, Helvetica, sans-serif;
  background-color: pink;
}
.container {
    padding: 50px;
  background-color: #9FC4FD;
}

input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: orange;
  outline: none;
}
 div {
            padding: 10px 0;
         }
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
</style>
</head>
<body>
<form action="/" method="post">
  <div class="container">
       <h style="color:red">{{error}}</h>
       <h2 style="color:green">{{alert}}</h2>
  <center>  <h1> Student Registeration Form</h1> </center>
  <hr>
  <div>{{ form.name.label }}: {{ form.name}}</div>
      <div>{{ form.fname.label }}: {{ form.fname}}</div>
      <p style="color:red">{{doberror}}</p>
      Date of Birth<br><input type="date" id="birthday" name="dob" style="width:250px;height:40px;">
      <br>
      <br>

      <div>{{ form.address.label }}: {{ form.address}}</div>
      <div>{{ form.classs.label }}: {{ form.classs}}</div>
      <div>{{ form.school.label }}: {{ form.school}}</div>
      <p style="color:red">{{gerror}}</p>
      <div>{{ form.gender.label }}: {{ form.gender}}</div>
      <p style="color:red">{{serror}}</p>
      <div>{{ form.streem.label }}: {{ form.streem}}</div>
       <p style="color:red">{{merror}}</p>
      <div>{{ form.mobile.label }}: {{ form.mobile}}</div>
      <p style="color:red">{{eerror}}</p>
      <div>{{ form.email.label }}: {{ form.email}}</div>


    <button type="submit" class="registerbtn">Register</button>
        <a href="student_list"><button type="button" class="registerbtn">Student list</button></a>
</form>
</body>
</html>