<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div >

<form action="/pgn1" method="post">
<div class="input-group"style="margin-left: 3%;" >
     <h2 style="float:left;">Student list</h2>
    <div class="input-group" style="width:30%; margin-left: 50%;">
  <input name="search" class="form-control rounded" placeholder="Search" type="text" value="{{ s }}" >
  <button type="submit" class="btn btn-outline-primary">search</button>
</div >
</div >
</form >

  <h2 style="color:green">{{alert}}</h2>
      
  <table class="table table-dark" >
    <thead >
      <tr>

        <th>Roll NO</th>
        <th>Student Name</th>
        <th>Father Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Streem</th>
        <th>Class</th>
        <th>School</th>
        <th>Moble Number</th>
        <th>email</th>
    
      </tr>
    </thead>
   
    <tbody>
        {%for i in a%}
      <tr >
          

        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.fname}}</td>
        <td>{{i.dob}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.address}}</td>
        <td>{{i.streem}}</td>
        <td>{{i.classs}}</td>
        <td>{{i.school}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.email}}</td>
        <td><a href="/delete/{{i.id}}"><button>Delete</button></a></td>
        <td><a href="/update/{{i.id}}"><button>Edit</button></a></td>
      </tr>
      {%endfor%}
     
    </tbody>

  </table>
  <a href="/"><button>Go To Home Page</button></a>
<br>
</div>
 <a href="{{ prev }}" class="btn-btn-primary" style="float:left;"><button>&larr; Prev</button></a>
 <a href="{{ next }}" class="btn-btn-primary" style="float:right;"><button>Next&rarr;</button></a>

</body>
</html>
